@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Vai&display=swap");
@import url(../node_modules/bootstrap/scss/bootstrap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* menu superior*/
.menu-superior {
  background-color: #9ce9d7;
}
.menu-superior .superior__link {
  text-decoration: none;
  color: #444;
  margin: 0 6px 0 6px;
}

/*Navbar*/
.navbar {
  background-color: white;
}
.navbar .navbar-collapse {
  align-items: center;
  justify-content: space-around;
}
.navbar .navbar-collapse .header__searchcont {
  margin: 0px 0px 0px 100px;
}
.navbar .navbar-collapse .header__searchcont .searchcont__buscador {
  box-shadow: none;
  border: 1px solid #9ce9d7;
  border-radius: 10px;
  padding: 0.2rem;
}

/*media queri*/
@media (max-width: 414px) {
  .superior__link {
    display: none;
  }
  .header__searchcont {
    display: none;
  }
}
/*Seccion img + texto */
.section2-img {
  width: 250px;
}

/* Nuevos ingresos */
.animation {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Newsletter, ACA USO MIXINS*/
.conteiner-form1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  background-color: #b9f1e0;
  color: #444;
}
.conteiner-form1 .form1__titulo {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}
.conteiner-form1 .btn {
  margin: 6px 0;
  border-radius: 20px;
}
.conteiner-form1 .form1__registrate {
  padding-bottom: 20px;
}
.conteiner-form1 .form1__input {
  width: 70%;
  padding: 7px;
  border: none;
  margin: 6px 0;
  border-bottom: 3px solid #5dd;
  border-radius: 20px;
}
.conteiner-form1 .form1__input:focus {
  background: linear-gradient(to bottom, transparent, pink);
  outline: none;
  border-bottom: 3px solid pink;
}

/* Redes sociales */
#download {
  padding: 4rem 0 5rem 0;
  text-align: center;
  display: block;
}
#download .download__tittle {
  margin-bottom: 20px;
  font-size: 30px;
  color: #444;
}
#download .download__logo-box {
  display: inline-block;
}
#download .download__logo-box .img-logoredes {
  height: 130px;
  padding-top: 20px;
}

/*boton whatsapp*/
.btn-whatsapp {
  display: block !important;
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 100px !important;
}
.btn-whatsapp:hover {
  border-radius: 100px !important;
  -webkit-box-shadow: 0px 0px 15px 0px rgb(7, 94, 84);
  -moz-box-shadow: 0px 0px 15px 0px rgb(7, 94, 84);
  box-shadow: 0px 0px 15px 0px rgb(7, 94, 84);
  transition-duration: 1s;
}

/*media queri*/
@media (max-width: 414px) {
  .section-2__contacto {
    margin-bottom: 20px;
  }
  .section-2__cuotas {
    display: none;
  }
  .card {
    margin-bottom: 20px;
  }
  .form1__id {
    display: none;
  }
}
/*footer*/
.container-boxs {
  background-color: #9ce9d7;
  padding-top: 20px;
  color: #444;
}
.container-boxs .footer__list {
  list-style: none;
  margin-right: 120px;
}
.container-boxs .footer__list .footer__link {
  text-decoration: none;
  color: #444;
}

/* PAGINA CONTACTO */
.form__input {
  width: 400px;
  padding: 7px;
  margin: 6px;
  border-bottom: 3px solid #ffd0d5;
  border-radius: 20px;
}
.form__input:focus {
  background: linear-gradient(to bottom, transparent, #9ce9d7);
  outline: none;
  border-bottom: 3px solid pink;
}

@media (max-width: 414px) {
  .form__input {
    width: 100%;
  }
  .contacto__list {
    display: block;
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
