@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

$font-family-base: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
$font-family-base: url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
$color-primary: #9ce9d7;
$text-color: #444;