* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "mixins";
@import "variable";
@import "navbar";
@import "index";
@import "footer";
@import "contacto";
@import url(../node_modules/bootstrap/scss/bootstrap);


