/* menu superior*/
.menu-superior {
  background-color: #9ce9d7;
}

.superior__link {
  text-decoration: none;
  color: #444;
  margin: 0 6px 0 6px;
}

/*Navbar*/

.navbar {
  background-color: white;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-around;
}

.header__searchcont {
  margin: 0px 0px 0px 100px;
}

.searchcont__buscador {
  box-shadow: none;
  border: 1px solid #9ce9d7;
  border-radius: 10px;
  padding: 0.2rem;
}

/*Seccion img + texto */

.section2-img {
  width: 400px;
}

@media (max-width: 414px) {
  .superior__link {
    display: none;
  }

  .header__searchcont {
    display: none;
  }

  .nav-imgmenu {
    display: none;
  }

  .section-img {
  }
}
